<p id="notice"><%= notice %></p>

<h1>Exchange Rates €/$</h1>

<br>
<%= link_to 'Fetch Exchange Rates', fetch_exchange_rates_exchange_rates_url %>
<br>

<% if @exchange_rate %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= form_tag(exchange_rates_path, method: 'get', id: 'exchange-form') do %>
    <%= number_field_tag :amount, params[:amount], placeholder: "Enter amount of Euro" %>
    <%= date_field_tag :date, params[:date], placeholder: "Enter date" %>
    <%= submit_tag "Exchange", name: nil %>
  <% end %>

  <br>
  Picked date: <%= @exchange_rate.date %>
  <br>
  Picked amount: €<%= @amount %>
  <br>
  Summ: $<%= @summ %>
<% else %>
  No exchange rate data, please click 'Fetch Exchange Rates'
<% end %>
